// fuentes
$futuraBO: "FuturaStd-BoldOblique";
$futuraHO: "FuturaStd-HeavyOblique";
$montserratR: "Montserrat-Regular";
$montserratI: "Montserrat-Italic";
$montserratM: "Montserrat-Medium";

// colores
$negro: #000000;
$blanco: #ffffff;
$verde: #8bd193;
$gris: #838383;


// mixin

@mixin titulos ($top, $position, $margintop, $widht, $family, $size, $color) {
    top: $top;
    position: $position;
    margin-top: $margintop;
    width: $widht;
    font-family: $family;
    font-size: $size;
    color: $color;
}



// maps

$mapa1:(
    90px: black,
    70px: #ffffff,
    30px: #8bd193,
    30px: #838383,
    );

    @each $sizes, $colores in $mapa1 {
        .maps-#{$colores}{
            height: $sizes;
            background-color: $colores;
        }
    }
